.cardapio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.area-cards{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 24px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 320px;
    gap: 18px;
    padding: 20px;
    background-color: var(--color-neutra-2);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}
.card-imagem{
    width: 300px;
    margin-top: 5%;
}
.card-title{
    font-size: 1.5rem;
    color: var(--color-primary-2);
    padding: 5px;
    text-align: center;
    text-shadow: 0.5px 0.5px 1px;

}
.card-descricao{
    color: #434343;
    text-align: center;
    font-size: 1.2rem;
}
.card-rate i{
    color: var(--color-primary-2);   
}
.card-price{
    display: flex;
    align-items: center;
    gap: 20px;
}