@import url('cardapio.css');
@import url('depoimentos.css');
@import url('footer.css');
:root{
    --color-primary-1: #34B57F;
    --color-primary-2: #4CD89A;
    --color-primary-3: #99F0C5;
    --color-primary-4: #ffe100;
    --color-primary-5: #ffcb45;
    --color-primary-6: #e9a209;

    --color-neutra-1: #1d1d1d;
    --color-neutra-2: #fff;
}
*{
    text-decoration: none;
    list-style: none;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.btn_default{
    background-color: var(--color-primary-2);
    border: none;
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    transition: backgroud-color .3s ease;
}
.btn_default:hover{
    background-color: var(--color-primary-3);
}
.home{
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
}
.cta{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
    margin-left: 5%;
}
.cta .title{
    font-size: 4rem;
    color: var(--color-neutra-1);
}
.cta .title img{
    color: var(--color-primary-1);
    display: flex;
    width: 550px;
    margin-left: -10%;
    margin-top: -15%;
}
.cta .descricao{
    font-size: 1.2rem;
    display: flex;
    margin-top: -15%;
}
.cta-buttons{
    display: flex;
    gap: 24px;
}
.cta-buttons a{
    color: var(--color-neutra-1);
}
.phone-button{
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: var(--color-neutra-2);
    padding: 8px 14px;
    font-weight: 500;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.2);
}
.banner{
    display: flex;
    margin: auto;
}
.banner img{
    display: flex;
    margin: auto;
    height: 400px;
    margin: auto;
}
.section-title{
    color: var(--color-primary-1);
    font-size: 3rem;
    text-align: center;
    text-shadow: 1px 1px 2px;
}
.section-subtitle{
    text-align: center;
    font-size: 2.1875rem;
    text-shadow: 0.5px 0.5px 1px;

}

@media screen and (max-width: 980px) {
    .banner{
        display: none;
    }
    .cta{
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .home{
        min-height: 100%;
    }
    .title{
        font-size: 1.5rem;
        margin-left: 13%;
    }
    .descricao{
        font-size: 2rem;
    }
}


