header{
    display: flex;
    align-items: center;
    height: 90px;
    background-color: #34B57F;
    width: 100%;
}
#nav-bar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 0px 20px;
}
i{
    justify-content: flex-start;
}
#nav_list{
    display: flex;
    width: 70%;
    justify-content: end;
    list-style: none;
    padding: 7.5px;
    gap: 50px;
}
.nav_item{
    padding: 10px;
}
.nav_link{
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.nav_link:hover{
    color: #4CD89A;
}

.mobile-menu, .mobile-btn{
    display: none;
}

@media screen and (max-width:1170px){
    #nav_list, #nav-bar{
        display: none;
    }
    .mobile-btn{
        display: block;
        border: none;
        background-color: var(--color-primary-1);
        color: black;
        padding: 10px;
        font-size: 2rem;
        cursor: pointer;
    }
    .mobile-menu.active{
        display: flex;
        align-items: center;  
        font-size: 25px;   
    }
    .mobile-nav-list{
        display: flex;
        position: relative;
        flex-direction: column;
        background-color: var(--color-primary-1);
        top: 12rem;
        left: -4rem;
        height: 30vh;
        padding: 50px;
        gap: 90px;   
        z-index: 9999;
    }
    }
    .mobile-nav-list, .nav-item{
        list-style: none;
        text-align: center;
        cursor: pointer;
    }
    .nav-item a{
        color: var(--color-neutra-2);
    }
    .nav-item:hover{
        opacity: 0.3;
    }
    .nav-item a{
        color: rgb(0, 0, 0);
    }
}